<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Habitplanner"
        tools:targetApi="31">

        <service android:name=".MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name=".ui.RoutineListActivity" />
        <activity android:name=".ui.DoneActivity"
            android:theme="@style/Theme.Habitplanner.NoActionBar"/>

        <activity
            android:name=".ui.AddRoutineActivity"
            android:parentActivityName=".ui.RoutineListActivity">
            <!-- Metadata to support older versions of Android -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.RoutineListActivity"/>
        </activity>

        <activity android:name=".ui.MainActivity" android:exported="true"
            android:theme="@style/Theme.Habitplanner.NoActionBar"/>

        <!-- SplashActivity를 메인 액티비티로 설정 -->
        <activity android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Habitplanner.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RunningActivity"
            android:exported="true"
            android:parentActivityName=".ui.RoutineListActivity"
            android:theme="@style/Theme.Habitplanner.NoActionBar"/>
        <receiver android:name=".ui.AlarmReceiver" android:exported="false"/>

    </application>

</manifest>
